.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  padding: 20px;
  margin-top: 5px;
  width: 100%;
  transition: all 0.3s ease;
}

.main-content.with-sidebar {
  margin-left: 250px;
  width: calc(100% - 250px);
} 